
.body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    
    
   
}


li {
    list-style-type: none;
}

ul {
   padding-left: 0;
    
}


/* Шапка сайта */

.logo {
    
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    
 
}

.logo-studio {
    
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
     
}



.menu-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    
    
     
}

.menu-link:hover {
    color: #2196F3;
}

.contact-type {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    
    
}

.contact-type:hover  {
    color: #2196F3;
    

}

 /* Шапка */
.hat {
    font-size: 44px;
    background-color: #2F303A;

}

.solution {
    
    color:#FFFFFF;

}
 
.button {
    font-size: 16px;
    padding: 10px, 32px;
    color: #FFFFFF;
    background-color: #2196F3;
    border: 1px solid transparent;
    border-radius: 0.1em;
    cursor: pointer;
    
}
 
/* Особенности */





 /* Чем мы занимаемся */

 .work-position {
    
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;    
    color: #212121;

}

/* Команда */

.team {
    background-color: #F5F4FA;
}

.team-list {
    
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}




.design {
    background: #FFFFFF;          
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: url(4853.jpg);
    border-radius: 0px;
    
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;    
    color: #212121;
}



.job-title {
    
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;                    
        color: #757575;
}

.frontend {
    background: #FFFFFF;    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: url(5844.jpg);
    border-radius: 0px;
}

.Marketing {
    background: #FFFFFF;    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: url(16166.jpg);
    border-radius: 0px;
}

.designer {
    background: #FFFFFF;           
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: url(2968.jpg);
    border-radius: 0px;
}
 /* Подвал */

 .footer {
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background: #2F303A;
 }


 .home {
    
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;

 }



 .logo1 {
     
     font-weight: 700;
     font-size: 26px;
     line-height: 31px;
     letter-spacing: 0.03em;
     color: #FFFFFF;;
     text-decoration: none;


 }

 .logo-studio1 {
     
     font-weight: 700;
     font-size: 26px;
     line-height: 31px;
     letter-spacing: 0.03em;
     color: #2196F3;
     text-decoration: none;

 }
